/**
 * Component: Calculator IO
 */
@include comp('calc-io') {
  z-index: 10;
  $width: 56;
  $height: $width / $constr-ratio;
  $panel-width: 320;
  $panel-height: $panel-width * $golden-ratio;
  $button-width: 44;
  $button-height: 32;

  position: relative;
  flex: none;
  max-width: 100%;
  min-width: 0;
  width: px($width);
  height: px($height);

  display: flex;

  white-space: nowrap;
  color: $color-bisque;
  background: center / 100% no-repeat $color-dark url($bgr-constr-normal);

  // animation
  @extend %a-fade-left-in;
  @include animation-list-item(200, 4);

  @include elem('trigger') {
    z-index: 120;
    position: relative;
    flex: none;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    background: center / 100% no-repeat;
    transform: scaleX(1) scaleY(1);
  }
  @include when('selected') {
    z-index: 20;
    @include elem('trigger') {
      background-image: url($bgr-constr-selected);
      transform: scaleX($constr-selected-width-expand)
        scaleY($constr-selected-height-expand);

      // animation
      @extend %a-fade-in;
      animation-delay: ($animate-delay-base - 200) * 1ms;
    }
  }

  @include elem('icon') {
    width: px($width * $golden-ratio);
    height: px($width * $golden-ratio);
  }

  @include elem('label') {
    font-size: px(12);
  }
  @include when('selected') {
    @include elem('label') {
      position: absolute;
      top: 100%;
      left: px(-($panel-width - $width) / 2 / $constr-selected-width-expand);
      right: px(-($panel-width - $width) / 2 / $constr-selected-width-expand);
      padding: 0 px($gap-base);
    }
  }

  @include elem('panel') {
    z-index: 110;
    position: absolute;
    top: px(-16);
    left: px(-($panel-width - $width) / 2);
    right: px(-($panel-width - $width) / 2);
    min-height: px($panel-height);

    padding: px($gap-base * 3);
    padding-top: px(130);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: px(1) solid $color-peru;
    background: center / cover no-repeat url($bgr-constr-chain-main-pattern);

    // animation
    @extend %a-fade-in;
  }

  @include elem('wrapper') {
    position: relative;
    max-width: 100%;
    min-width: 0;
    flex: 1 0 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  @include elem('button', 'input') {
    position: relative;
    max-width: 100%;
    min-width: 0;
    width: initial;
    height: px($button-height);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    padding: 0;
    margin: 0;
    border: none;

    font-size: px(16);
    color: inherit;
    background: transparent;
  }

  @include elem('button') {
    flex: none;
    width: px($button-width);
    font-size: px(14);

    opacity: 0.75;
    &:hover {
      opacity: 1;
    }

    &::after {
      z-index: -1;
      content: ' ';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      background: center / 100% no-repeat url($bgr-constr-switch-button);
    }

    // animation
    &:nth-child(5n + 1),
    &:nth-child(5n + 2) {
      @extend %a-fade-right-in;
    }
    &:nth-child(5n + 4),
    &:nth-child(5n + 5) {
      @extend %a-fade-left-in;
    }
    &:nth-child(5n + 2),
    &:nth-child(5n + 4) {
      animation-delay: $animate-delay-base * 1ms;
    }
    &:nth-child(5n + 1),
    &:nth-child(5n + 5) {
      animation-delay: ($animate-delay-base - 100) * 1ms;
    }
  }

  @include elem('input') {
    flex: 1 1 100%;

    // animation
    @extend %a-fade-in;
    animation-delay: ($animate-delay-base - 100) * 1ms;
  }

  @include elem('io', 'io-divider', 'io-row') {
    position: relative;
    max-width: 100%;
    min-width: 0;
  }

  @include elem('io') {
    flex: 1 0 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    padding-top: px($gap-base * 3);

    font-size: px(12);
  }

  @include elem('io-divider') {
    flex: none;
    height: px(1);

    margin: px($gap-base);

    background: linear-gradient(
      to right,
      transparent,
      rgba($color-bisque, 0.5),
      transparent
    );

    &:last-child {
      display: none;
    }
  }

  @include elem('io-row') {
    position: relative;
    max-width: 100%;
    min-width: 0;
    flex: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    white-space: nowrap;

    padding: px($gap-base / 4) 0;
  }
  @include elem('io-icon') {
    margin-right: px($gap-base / 2);
  }

  @include elem('io-divider', 'io-row') {
    // animation
    @extend %a-fade-top-in;
    @include animation-list-item(100, 16, $animate-delay-base + 200);
  }

  @include elem('io-row') {
    @include when('paused') {
      text-decoration: line-through;
    }
  }

  @include elem('io-toggle') {
    position: relative;
    flex: none;
    max-width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    margin-left: auto;
    border: none;
    font-size: px(16);
    background-color: transparent;

    display: inline-flex;
  }
}
