/**
 * Component: App
 */
@include comp('app') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  padding: px(32) 0;

  background-color: $color-bisque;
  font-family: $font-family-base;
  font-size: px(14);

  @include elem('wrapper') {
    max-width: px(1330);
    margin: 0 auto;
  }

  @include prop(
    (
      'platform': 'csr',
    )
  ) {
    min-height: 100vh;
  }
}
