/**
 * Component: App
 */
@include comp('app') {
  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 100vh;

  background-color: $color-beige;
  font-family: $font-family-base;

  @include when('development') {
    padding: px(64) px((375 - 345) / 2);
    @include elem('wrapper') {
      max-width: px(1330);
      margin: 0 auto;
    }
  }
}
