/**
 * Component: Items
 */
@include comp('items') {
  $gap: 2;
  $item-size: 80;

  position: relative;
  flex: 1 1 100%;
  max-width: 100%;
  min-width: 0;

  @include elem('grid', 'cell') {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex: none;
    padding: 0;
    margin: 0;
  }
  @include elem('grid') {
    padding: px($gap-base - $gap / 2) 0;
    margin: 0 px(-$gap / 2);
  }
  @include elem('cell') {
    padding: px($gap / 2);

    // animation
    @extend %a-fade-in;
    @include animation-list-item(2000, 5);
  }

  @include elem('item') {
    cursor: pointer;
    user-select: none;

    position: relative;
    width: px($item-size);
    min-height: px($item-size);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    border: px(1.5) solid $color-border-common;
    border-radius: px($radius-base);
    padding: px(4);
  }

  @include elem('socket', 'icon', 'label') {
    position: relative;
  }

  @include elem('socket') {
    display: flex;
    width: px($item-size * $golden-ratio);
    height: px($item-size * $golden-ratio);
    padding: px(4);
    &::before {
      z-index: 1;
    }
    &::after {
      z-index: 2;
    }
  }

  @include elem('icon') {
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  @include elem('label') {
    flex: 1;
    text-align: center;
    font-size: px(12);
    padding-top: px(4);
  }

  @include elem('item') {
    outline: 0;
    &,
    &:visited {
      color: $color-peru;
    }
    background-color: $color-bisque;
    &:hover,
    &:focus {
      color: $color-brown;
      background-color: lighten($color: $color-bisque, $amount: 5%);
    }
  }

  // when the genre is 'items'
  @include prop(
    (
      'genre': 'items',
    )
  ) {
    @include elem('item') {
      @include elem('socket') {
        background-size: 100%;
        background-position: center;
        background-image: url($bgr-item-holder);

        &::before,
        &::after {
          content: ' ';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-size: 100%;
          background-position: center;
          mix-blend-mode: multiply;
        }
        &::before {
          background-color: $color-bisque;
          opacity: 0.5;
        }
        &::after {
          background-color: $color-bisque;
          opacity: 0.2;
        }
      }
      @each $rarity in $rarity-set {
        @include when($rarity) {
          @include elem('socket') {
            &::before {
              background-color: map-get($map: $rarity-color-map, $key: $rarity);
            }
            &::after {
              background-image: url(map-get($map: $rarity-bgr-map, $key: $rarity));
            }
          }
        }
      }
    }
  }
}
