// Common

$mobile-content-width: 360 - 15 * 2;

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

$golden-ratio: (sqrt(5) - 1) / 2;

$size-set: (16, 24, 32, 56, 64, 80, 96, 128, 256, 512);

$radius-base: 3;
$gap-base: 8;

// Typography

$font-family-base: 'Segoe UI', SegoeUI, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors

$color-bisque:  #f2d9a5;
$color-peru:    #a3805a;
$color-brown:   #4f300f;
$color-purple:  #574768;
$color-dark:    #2a2c27;

$color-sub-alpha: 0.5;

$color-active-lighten:  0.1;
$color-active-darken:   0.1;

$color-border-common: rgba($color-peru, 0.25);

// Region
$icon-region-moderate:          resource('data/ui/2kimages/main/icons/icon_session_moderate.png');
$icon-region-moderate-white:    resource('data/ui/2kimages/main/icons/icon_session_moderate_white.png');
$icon-region-colony01:          resource('data/ui/2kimages/main/icons/icon_session_southamerica.png');
$icon-region-colony01-white:    resource('data/ui/2kimages/main/icons/icon_session_southamerica_white.png');

// Item
$rarity-set: ('Common', 'Uncommon', 'Rare', 'Epic', 'Legendary', 'Quest');
$rarity-color-map: (
  Common:       #ffffff,
  Uncommon:     #659e2d,
  Rare:         #3e5496,
  Epic:         #a563a7,
  Legendary:    #c76937,
  Quest:        #4a3860,
);
$bgr-item-socket: resource('data/ui/2kimages/main/assets/btn_itemsocket_base.png.png');
$bgr-item-holder: resource('data/ui/2kimages/main/assets/bgr_item_holder.png');
$rarity-bgr-map: (
  Common:       resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_common.png'),
  Uncommon:     resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_uncommon.png'),
  Rare:         resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_rare.png'),
  Epic:         resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_epic.png'),
  Legendary:    resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_legendary.png'),
  Quest:        resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_legendary.png'),
);

// Construction
$constr-ratio: 60 / 76;
$constr-selected-width-expand:    72 / 60 * 1.1;
$constr-selected-height-expand:   84 / 76 * 1.1;
$bgr-constr-normal: resource('data/ui/2kimages/main/assets/construction_bar/btn_construction_normal.png');
$bgr-constr-selected: resource('data/ui/2kimages/main/assets/construction_bar/btn_construction_selected.png');
$bgr-constr-switch-button: resource('data/ui/2kimages/main/assets/construction_bar/btn_constr_switch_button.png');
$bgr-constr-chain: resource('data/ui/2kimages/main/assets/construction_bar/btn_constr_chain_large_normal.png');
$bgr-constr-chain-frame: resource('data/ui/2kimages/main/assets/construction_bar/bgr_constr_chain_frame.png');
$bgr-constr-chain-mask: resource('data/ui/2kimages/main/assets/construction_bar/bgr_constr_chain_mask.png');
$bgr-constr-chain-main-pattern: resource('data/ui/2kimages/main/assets/construction_bar/bgr_constr_chain_mainpattern.png');
