// Typography

$font-family-base: 'Segoe UI', SegoeUI, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors

$color-beige:   #f2d9a5;
$color-brown:   #4f300f;
$color-purple:  #574768;
$color-dark:    #2a2c27;

$color-sub-alpha: 0.5;

$color-active-lighten:  0.1;
$color-active-darken:   0.1;

$color-common-border: rgba(#7f7f7f, 0.1);

// Icon
$size-set: (16, 24, 32, 56, 64, 96, 128, 256, 512);
