// Common

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

$golden-ratio: (sqrt(5) - 1) / 2;

$size-set: (16, 24, 32, 56, 64, 80, 96, 128, 256, 512);
$border-radius-base: 2;

// Typography

$font-family-base: 'Segoe UI', SegoeUI, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors

$color-beige:   #f2d9a5;
$color-brown:   #4f300f;
$color-purple:  #574768;
$color-dark:    #2a2c27;

$color-sub-alpha: 0.5;

$color-active-lighten:  0.1;
$color-active-darken:   0.1;

$color-common-border: rgba(#7f7f7f, 0.5);

// Item
$rarity-set: ('Common', 'Uncommon', 'Rare', 'Epic', 'Legendary', 'Quest');
$rarity-color-map: (
  Common:       #ffffff,
  Uncommon:     #659e2d,
  Rare:         #3e5496,
  Epic:         #a563a7,
  Legendary:    #c76937,
  Quest:        #4a3860,
);
$bgr-item-socket: resource('data/ui/2kimages/main/assets/btn_itemsocket_base.png.png');
$bgr-item-holder: resource('data/ui/2kimages/main/assets/bgr_item_holder.png');
$rarity-bgr-map: (
  Common:       resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_common.png'),
  Uncommon:     resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_uncommon.png'),
  Rare:         resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_rare.png'),
  Epic:         resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_epic.png'),
  Legendary:    resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_legendary.png'),
  Quest:        resource('data/ui/2kimages/main/assets/button_bg/btn_itemsocket_legendary.png'),
);
