/**
 * Component: Icon
 */
@include comp('icon') {
  display: inline-flex;
  position: relative;
  flex: none;
  max-width: 100%;
  min-width: 0;
  width: auto;
  height: auto;
  object-fit: contain;

  @each $size in $size-set {
    @include prop(
      (
        'size': $size,
      )
    ) {
      width: px($size);
      height: px($size);
    }
  }
}
